<form method="post" action="{{ path('app_backgrounds_b_g_delete', {'id': b_g.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ b_g.id) }}">
    <button class="btn">Delete</button>
</form>
