{% extends 'base.html.twig' %}

{% block title %}Edit BG{% endblock %}

{% block body %}
    <h1>Edit BG</h1>

    {{ include('backgrounds/bg/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backgrounds_b_g_index') }}">back to list</a>

    {{ include('backgrounds/bg/_delete_form.html.twig') }}
{% endblock %}
