{% extends 'base.html.twig' %}

{% block title %}Edit ClasseRow{% endblock %}

{% block body %}
    <h1>Edit ClasseRow</h1>

    {{ include('classes/classe_row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
    
{% endblock %}
