{% extends 'base.html.twig' %}

{% block title %}New ClasseRow{% endblock %}

{% block body %}
    <h1>Create new ClasseRow</h1>

    {{ include('classes/classe_row/_form.html.twig') }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
