{% extends 'base.html.twig' %}

{% block title %}New ItemSkill{% endblock %}

{% block body %}
    <h1>Create new ItemSkill</h1>

    {{ include('items/item_skill/_form.html.twig') }}

    <a href="{{ path('items_show', {'id': id}) }}">back to list</a>
{% endblock %}
