{% extends 'base.html.twig' %}

{% block title %}Edit ClasseSpellcasting{% endblock %}

{% block body %}
    <h1>Edit ClasseSpellcasting</h1>

    {{ include('classes/classe_spellcasting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_classes_classe_spellcasting_index') }}">back to list</a>

    {{ include('classes/classe_spellcasting/_delete_form.html.twig') }}
{% endblock %}
