{% extends 'base.html.twig' %}

{% block title %}New ClasseSpellcasting{% endblock %}

{% block body %}
    <h1>Create new ClasseSpellcasting</h1>

    {{ include('classes/classe_spellcasting/_form.html.twig') }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
