{% extends 'base.html.twig' %}

{% block title %}New SpellSchool{% endblock %}

{% block body %}
    <h1>Create new SpellSchool</h1>

    {{ include('assets/school/_form.html.twig') }}

    <a href="{{ path('assets') }}">back to list</a>
{% endblock %}
