{% extends 'base.html.twig' %}

{% block title %}Edit Spell{% endblock %}

{% block body %}
    <h1>Edit Spell</h1>

    {{ include('spells/spell/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spells') }}">back to list</a>
{% endblock %}
