{% extends 'base.html.twig' %}

{% block title %}Edit ClasseLevel{% endblock %}

{% block body %}
    <h1>Edit ClasseLevel</h1>

    {{ include('classes/classe_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>

{% endblock %}
