{% extends 'base.html.twig' %}

{% block title %}New ClasseLevel{% endblock %}

{% block body %}
    <h1>Create new ClasseLevel</h1>

    {{ include('classes/classe_level/_form.html.twig') }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
