{% extends 'base.html.twig' %}

{% block title %}Edit ItemSkill{% endblock %}

{% block body %}
    <h1>Edit ItemSkill</h1>

    {{ include('items/item_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('items_show', {'id': id}) }}">back to list</a>

{% endblock %}
