{% extends 'base.html.twig' %}

{% block title %}Edit Race{% endblock %}

{% block body %}
    <h1>Edit Race</h1>

    {{ include('races/race/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('race_show', {'id': race.id}) }}">back to list</a>

{% endblock %}
