{% extends 'base.html.twig' %}

{% block title %}New Race{% endblock %}

{% block body %}
    <h1>Create new Race</h1>

    {{ include('races/race/_form.html.twig') }}

    <a href="{{ path('races') }}">back to list</a>
{% endblock %}
