{% extends 'base.html.twig' %}

{% block title %}Edit SpellRow{% endblock %}

{% block body %}
    <h1>Edit SpellRow</h1>

    {{ include('spells/spell_row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spells') }}">back to list</a>
{% endblock %}
