{% extends 'base.html.twig' %}

{% block title %}New SpellRow{% endblock %}

{% block body %}
    <h1>Create new SpellRow</h1>

    {{ include('spells/spell_row/_form.html.twig') }}

    <a href="{{ path('spells') }}">back to list</a>
{% endblock %}
