{% extends 'base.html.twig' %}

{% block title %}Edit Competence{% endblock %}

{% block body %}
    <h1>Edit Competence</h1>

    {{ include('assets/competence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assets_competence_index') }}">back to list</a>

    {{ include('assets/competence/_delete_form.html.twig') }}
{% endblock %}
