{% extends 'base.html.twig' %}

{% block title %}New SpecialtyItem{% endblock %}

{% block body %}
    <h1>Create new SpecialtyItem</h1>

    {{ include('classes/specialty_item/_form.html.twig') }}

    <a href="{{ path('classe_show', {'id': classeId}) }}">back to list</a>
{% endblock %}
