{% extends 'base.html.twig' %}

{% block title %}New RaceListe{% endblock %}

{% block body %}
    <h1>Create new RaceListe</h1>

    {{ include('races/race_liste/_form.html.twig') }}

    <a href="{{ path('app_races_race_liste_index') }}">back to list</a>
{% endblock %}
