{% extends 'base.html.twig' %}

{% block title %}Edit SpellTable{% endblock %}

{% block body %}
    <h1>Edit SpellTable</h1>

    {{ include('spells/spell_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spells') }}">back to list</a>
{% endblock %}
