{% extends 'base.html.twig' %}

{% block title %}Edit RaceSource{% endblock %}

{% block body %}
    <h1>Edit RaceSource</h1>

    {{ include('races/race_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('srace_show', {'id': race_source.id}) }}">back to list</a>

{% endblock %}
