{% extends 'base.html.twig' %}

{% block title %}Edit RaceSource{% endblock %}

{% block body %}
    <h1>Edit RaceSource</h1>

    {{ include('races/race_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_races_race_source_index') }}">back to list</a>

    {{ include('races/race_source/_delete_form.html.twig') }}
{% endblock %}
