{% extends 'base.html.twig' %}

{% block title %}New RaceSource{% endblock %}

{% block body %}
    <h1>Create new RaceSource</h1>

    {{ include('races/race_source/_form.html.twig') }}

    <a href="{{ path('race_show', {'id': id}) }}">back to list</a>
{% endblock %}
