{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    <h1>Accueil Admin</h1>

    <ul>
        <li><a href="{{ path('assets') }}">Divers<a/></li>
        <li><a href="{{ path('feat') }}">Dons<a/></li>
        <li><a href="{{ path('source') }}">Sources<a/></li>
    </ul>

{% endblock %}

{# <li><a href="{{ path('') }}"><a/></li> #}