{% extends 'base.html.twig' %}

{% block title %}Edit ItemCategory{% endblock %}

{% block body %}
    <h1>Edit ItemCategory</h1>

    {{ include('items/item_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('items') }}">back to list</a>

{% endblock %}
