{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Divers{% endblock %}

{% block body %}

    <h1>Divers</h1>
    <a href="{{ path('admin') }}">Retour à l'accueil<a/>
    <br/><br/>

    <div class="accordion" id="divers">
        {% include "assets/alignment/_index.html.twig" %}
        {% include "assets/competence/_index.html.twig" %}
        {% include "assets/condition/_index.html.twig" %}
        {% include "assets/creature_type/_index.html.twig" %}
        {% include "assets/damage/_index.html.twig" %}
        {% include "assets/language/_index.html.twig" %}
        {% include "assets/school/_index.html.twig" %}
        {% include "assets/sense/_index.html.twig" %}
        {% include "assets/speed/_index.html.twig" %}
    </div>

{% endblock %}