{% extends 'base.html.twig' %}

{% block title %}Edit BGRow{% endblock %}

{% block body %}
    <h1>Edit BGRow</h1>

    {{ include('backgrounds/bg_row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backgrounds_b_g_row_index') }}">back to list</a>

    {{ include('backgrounds/bg_row/_delete_form.html.twig') }}
{% endblock %}
