{% extends 'base.html.twig' %}

{% block title %}New BGRow{% endblock %}

{% block body %}
    <h1>Create new BGRow</h1>

    {{ include('backgrounds/bg_row/_form.html.twig') }}

    <a href="{{ path('background') }}">back to list</a>
{% endblock %}
