{% extends 'base.html.twig' %}

{% block title %}New ClasseTable{% endblock %}

{% block body %}
    <h1>Create new ClasseTable</h1>

    {{ include('classes/classe_table/_form.html.twig') }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
