{% extends 'base.html.twig' %}

{% block title %}Edit SB{% endblock %}

{% block body %}
    <h1>Edit SB</h1>

    {{ include('monsters/sb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('monster_show', {'id': sB.id}) }}">back to list</a>
{% endblock %}
