<div class="accordion-body">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Abbreviation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sense in senses %}
            <tr>
                <td>{{ sense.id }}</td>
                <td>{{ sense.abbreviation }}</td>
                <td>
                    <a href="{{ path('sense_edit', {'id': sense.id}) }}">edit</a>
                    {{ include('assets/sense/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>