{% extends 'base.html.twig' %}

{% block title %}Edit Sense{% endblock %}

{% block body %}
    <h1>Edit Sense</h1>

    {{ include('assets/sense/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('assets') }}">back to list</a>

    {{ include('assets/sense/_delete_form.html.twig') }}
{% endblock %}
