{% extends 'base.html.twig' %}

{% block title %}Edit RaceTable{% endblock %}

{% block body %}
    <h1>Edit RaceTable</h1>

    {{ include('races/race_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ssrace_show', {'id': id}) }}">back to list</a>

{% endblock %}