{% extends 'base.html.twig' %}

{% block title %}Edit RaceTable{% endblock %}

{% block body %}
    <h1>Edit RaceTable</h1>

    {{ include('races/race_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_races_race_table_index') }}">back to list</a>

    {{ include('races/race_table/_delete_form.html.twig') }}
{% endblock %}
