{% extends 'base.html.twig' %}

{% block title %}Edit ItemRow{% endblock %}

{% block body %}
    <h1>Edit ItemRow</h1>

    {{ include('items/item_row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('item_sub_show', {'id': id}) }}">back to list</a>

{% endblock %}