<form method="post" action="{{ path('app_items_item_row_delete', {'id': item_row.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item_row.id) }}">
    <button class="btn">Delete</button>
</form>
