{% extends 'base.html.twig' %}

{% block title %}Edit ItemRow{% endblock %}

{% block body %}
    <h1>Edit ItemRow</h1>

    {{ include('items/item_row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_items_item_row_index') }}">back to list</a>

    {{ include('items/item_row/_delete_form.html.twig') }}
{% endblock %}
