{% extends 'base.html.twig' %}

{% block title %}New ItemRow{% endblock %}

{% block body %}
    <h1>Create new ItemRow</h1>

    {{ include('items/item_row/_form.html.twig') }}

    <a href="{{ path('app_items_item_row_index') }}">back to list</a>
{% endblock %}
