{% extends 'base.html.twig' %}

{% block title %}Edit SpellListe{% endblock %}

{% block body %}
    <h1>Edit SpellListe</h1>

    {{ include('spells/spell_liste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spells') }}">back to list</a>
{% endblock %}
