{% extends 'base.html.twig' %}

{% block title %}New SpellListe{% endblock %}

{% block body %}
    <h1>Create new SpellListe</h1>

    {{ include('spells/spell_liste/_form.html.twig') }}

    <a href="{{ path('spells') }}">back to list</a>
{% endblock %}
