<form method="post" action="{{ path('item_table_item_cat_delete', {'id': t.id, 'id2': item_category.id, 'id3': i.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t.id) }}">
    <button class="btn">Delete</button>
</form>