{% extends 'base.html.twig' %}

{% block title %}Edit BGTable{% endblock %}

{% block body %}
    <h1>Edit BGTable</h1>

    {{ include('backgrounds/bg_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('background') }}">back to list</a>
    
{% endblock %}
