* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    text-align: justify;
}

main {
    background-color: rgb(211, 163, 43);
}

.container {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: crimson;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

form > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

form > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type=number] {
    width: 50px;
}

table ul {
    display: flex;
}

@media screen and (min-width:768px) {
    
    .container {
        padding: 30px;
    }

    h1 {
        margin-bottom: 30px;
        font-size: 2.5rem;
        letter-spacing: 3px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

}

@media screen and (min-width:992px) {
 
    .container {
        padding: 50px;
    }

    h1 {
        margin-bottom: 50px;
        font-size: 3rem;
        letter-spacing: 3px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

}