<form method="post" action="{{ path('app_assets_feat_delete', {'id': feat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feat.id) }}">
    <button class="btn">Delete</button>
</form>
