{% extends 'base.html.twig' %}

{% block title %}Edit Feat{% endblock %}

{% block body %}
    <h1>Edit Feat</h1>

    {{ include('assets/feat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('feat') }}">back to list</a>

{% endblock %}
