{% extends 'base.html.twig' %}

{% block title %}New Feat{% endblock %}

{% block body %}
    <h1>Create new Feat</h1>

    {{ include('assets/feat/_form.html.twig') }}

    <a href="{{ path('feat') }}">back to list</a>
{% endblock %}
