{% extends 'base.html.twig' %}

{% block title %}Edit SpecialtyListe{% endblock %}

{% block body %}
    <h1>Edit SpecialtyListe</h1>

    {{ include('classes/specialty_liste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_classes_specialty_liste_index') }}">back to list</a>

    {{ include('classes/specialty_liste/_delete_form.html.twig') }}
{% endblock %}
