{% extends 'base.html.twig' %}

{% block title %}Edit SpecialtyListe{% endblock %}

{% block body %}
    <h1>Edit SpecialtyListe</h1>

    {{ include('classes/specialty_liste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('specialties_show', {'id': id, 'id2': id2}) }}">back to list</a>
{% endblock %}
