<div class="accordion-body">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creature_type in creatureTypes %}
            <tr>
                <td>{{ creature_type.id }}</td>
                <td>{{ creature_type.name }}</td>
                <td>
                    <a href="{{ path('creature_type_edit', {'id': creature_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
