{% extends 'base.html.twig' %}

{% block title %}Edit CreatureType{% endblock %}

{% block body %}
    <h1>Edit CreatureType</h1>

    {{ include('assets/creature_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('assets') }}">back to list</a>

{% endblock %}
