{% extends 'base.html.twig' %}

{% block title %}New RaceSubrace{% endblock %}

{% block body %}
    <h1>Create new RaceSubrace</h1>

    {{ include('races/race_subrace/_form.html.twig') }}

    <a href="{{ path('app_races_race_subrace_index') }}">back to list</a>
{% endblock %}
