{% extends 'base.html.twig' %}

{% block title %}Edit BGSkill{% endblock %}

{% block body %}
    <h1>Edit BGSkill</h1>

    {{ include('backgrounds/bg_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('background') }}">back to list</a>

{% endblock %}
