{% extends 'base.html.twig' %}

{% block title %}Edit BGSkill{% endblock %}

{% block body %}
    <h1>Edit BGSkill</h1>

    {{ include('backgrounds/bg_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backgrounds_b_g_skill_index') }}">back to list</a>

    {{ include('backgrounds/bg_skill/_delete_form.html.twig') }}
{% endblock %}
