{% extends 'base.html.twig' %}

{% block title %}New BGSkill{% endblock %}

{% block body %}
    <h1>Create new BGSkill</h1>

    {{ include('backgrounds/bg_skill/_form.html.twig') }}

    <a href="{{ path('background') }}">back to list</a>
{% endblock %}
