{% extends 'base.html.twig' %}

{% block title %}Edit RaceRow{% endblock %}

{% block body %}
    <h1>Edit RaceRow</h1>

    {{ include('races/race_row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_races_race_row_index') }}">back to list</a>

    {{ include('races/race_row/_delete_form.html.twig') }}
{% endblock %}
