<form method="post" action="{{ path('source_part_delete', {'id': source_part.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ source_part.id) }}">
    <button class="btn">Delete</button>
</form>
