{% extends 'base.html.twig' %}

{% block title %}Edit SourcePart{% endblock %}

{% block body %}
    <h1>Edit SourcePart</h1>

    {{ include('assets/source_part/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('source') }}">back to list</a>

{% endblock %}
