{% extends 'base.html.twig' %}

{% block title %}Edit Skill{% endblock %}

{% block body %}
    <h1>Edit Skill</h1>

    {{ include('construct/skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_construct_skill_index') }}">back to list</a>

    {{ include('construct/skill/_delete_form.html.twig') }}
{% endblock %}
