{% extends 'base.html.twig' %}

{% block title %}New SBSkill{% endblock %}

{% block body %}
    <h1>Create new SBSkill</h1>

    {{ include('monsters/sb_skill/_form.html.twig') }}

    <a href="{{ path('monster_show', {'id': id}) }}">back to list</a>
{% endblock %}
