{% extends 'base.html.twig' %}

{% block title %}New RaceSkill{% endblock %}

{% block body %}
    <h1>Create new RaceSkill</h1>

    {{ include('races/race_skill/_form.html.twig') }}

    <a href="{{ path('app_races_race_skill_index') }}">back to list</a>
{% endblock %}
