{% extends 'base.html.twig' %}

{% block title %}Edit Specialty{% endblock %}

{% block body %}
    <h1>Edit Specialty</h1>

    {{ include('classes/specialty/_form.html.twig', {'button_label': 'Update'}) }}

       <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
