<form method="post" action="{{ path('app_assets_alignment_delete', {'id': alignment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alignment.id) }}">
    <button class="btn">Delete</button>
</form>
