{% extends 'base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block body %}
    <h1>Edit Classe</h1>

    {{ include('classes/classe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classe_show', {'id': classe.id}) }}">back to list</a>

{% endblock %}
