{% extends 'base.html.twig' %}

{% block title %}Edit BGListe{% endblock %}

{% block body %}
    <h1>Edit BGListe</h1>

    {{ include('backgrounds/bg_liste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('background') }}">back to list</a>

    {{ include('backgrounds/bg_liste/_delete_form.html.twig') }}
{% endblock %}
