{% extends 'base.html.twig' %}

{% block title %}New BGListe{% endblock %}

{% block body %}
    <h1>Create new BGListe</h1>

    {{ include('backgrounds/bg_liste/_form.html.twig') }}

    <a href="{{ path('app_backgrounds_b_g_liste_index') }}">back to list</a>
{% endblock %}
