<form method="post" action="{{ path('app_classes_specialty_table_delete', {'id': specialty_table.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialty_table.id) }}">
    <button class="btn">Delete</button>
</form>
