{% extends 'base.html.twig' %}

{% block title %}New SpecialtyTable{% endblock %}

{% block body %}
    <h1>Create new SpecialtyTable</h1>

    {{ include('classes/specialty_table/_form.html.twig') }}

    <a href="{{ path('specialties_show', {'id': id, 'id2': id2}) }}">back to list</a>
{% endblock %}
