{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <h1>Create new Item</h1>

    {{ include('items/item/_form.html.twig') }}

    <a href="{{ path('item_sub_show', {'id': id}) }}">back to list</a>
{% endblock %}