<form method="post" action="{{ path('user_edit_role', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to change user role?');">
    <input type="hidden" name="_token" value="{{ csrf_token('role' ~ user.id) }}">
    <button class="btn">Changer role</button>
</form>