{% extends 'base.html.twig' %}

{% block title %}Edit ClasseSubskill{% endblock %}

{% block body %}
    <h1>Edit ClasseSubskill</h1>

    {{ include('classes/classe_subskill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
