{% extends 'base.html.twig' %}

{% block title %}Edit ClasseSubskill{% endblock %}

{% block body %}
    <h1>Edit ClasseSubskill</h1>

    {{ include('classes/classe_subskill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_classes_classe_subskill_index') }}">back to list</a>

    {{ include('classes/classe_subskill/_delete_form.html.twig') }}
{% endblock %}
