{% extends 'base.html.twig' %}

{% block title %}New ClasseSubskill{% endblock %}

{% block body %}
    <h1>Create new ClasseSubskill</h1>

    {{ include('classes/classe_subskill/_form.html.twig') }}

    <a href="{{ path('classe_show', {'id': id}) }}">back to list</a>
{% endblock %}
