{% extends 'base.html.twig' %}

{% block title %}New TableRow{% endblock %}

{% block body %}
    <h1>Create new TableRow</h1>

    {{ include('construct/table_row/_form.html.twig') }}

    <a href="{{ path('app_construct_table_row_index') }}">back to list</a>
{% endblock %}
